/* Media Queries for the Mobile Devices */

@media  only screen and (max-width:767px) {
    .container{
        width: 90%;
    }
    .hero-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 30px 60px 20px 60px;
     }
     .section-info{
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     .player-img img{
        width: 100%;
        margin-top: 20px;
        margin-bottom: -26px;
    }
    .page-headline{
        font-size: 22px;
        line-height: 33px;
        text-align: center;
     }
     .section-info p{
        padding: 22px 0;
        width: 300px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
     }
     .hero-button{
        max-width: 170px;
        padding: 12px 12px;
     }
     /*============================
      Main section start  
      ============================*/
      .football-blogs, .football-matches{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: stretch;
        column-gap: 0;
     }
     .navigation{
        background-color: #ffffff;
        position: static;
     }
     .main-nav{
        display: flex;
        flex-direction: column;
        align-items: stretch;
     }
     .main-nav li {
        list-style: none;
        margin-bottom: 20px;
    }
     .nav-button{
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #ddd;
        text-align: center;
        padding: 15px 15px;
     }
     .blogs, .matches, .groups{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 24px;
     }
     .blog-info h3{
        font-weight: 600;
        font-size: 18.7675px;
        line-height: 28px;
        color: #161616;
        margin-bottom: 10px;
     }
     .view-all-posts{
        display: none;
     }

     
     /*============================
      Footer section start  
      =============================*/
     footer{
        padding: 25px 0;
    }
    .footer-logo{
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;  
    }
    hr{
        margin: 24px 0;
    }
     footer .nav ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .nav ul li{
        padding-right: 0px;
    }
    footer .nav ul li a{
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 50px;
    }
    .footer-icon{
        color: #fff;
        font-size: 20px;
    }

}

/* Media Queries for the Tablet Devices */
@media  only screen and (min-width:768px) and (max-width:1023px){
    .container{
        width: 90%;
    }
    .hero-section{
        display: flex;
        align-items: center;
        column-gap: 10px;
        background-color: #161616;
        border-radius: 20px;
        margin-top: 50px;
        margin-bottom: 40px;
        padding: 30px 30px 0 75px;
     }
     .section-info{
        padding-bottom: 40px;
     }
    .player-img img{
        width: 100%;
    }
    .page-headline{
        font-size: 40px;
        line-height: 50px;
     }
     .section-info p{
        padding: 22px 0;
        font-size: 14px;
        line-height: 24px;
     }
     .hero-button{
        max-width: 190px;
        padding: 15px 30px;
     }

     /*=========================== 
     Main Section start here  
     ===========================*/
      .football-blogs, .football-matches{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: stretch
     }
     .navigation{
        width: 100%;
        height: auto;
        background-color: #ffffff00;
        position: sticky;
        top: 0px;
        padding: 30px 0;

     }
     .main-nav{
        display: flex;
        flex-direction: row;
        align-content: stretch;
        justify-content: space-between;
        column-gap: 22px;
     }
     .main-nav li {
        margin-bottom: 10px;
        width: 100%;
    }
     .nav-button{
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #ddd;
        text-align: center;
        padding: 15px 15px;
     }

     .blogs, .matches, .groups{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
     }
     .upcoming-button a {
        font-size: 18px;
    }
     .blog-info h3{
        font-weight: 600;
        font-size: 18.7675px;
        line-height: 28px;
        color: #161616;
        margin-bottom: 10px;
     }
     .tab-view-all-btn{
        display: flex;
        justify-content: center;
        margin-top: 60px;
     }
     .view-all-posts{
        background-color: #DD0000;
        border-radius: 5px;
        padding: 12px 29px;
        font-size: 20px;
        text-align: center;
     }
     a.view-all-posts{
        text-decoration: none;
        color: #fff;
     }

     /* Footer section start  */
     footer{
        margin-top: 70px;
        padding: 50px 0;
    }
     footer .nav ul{
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .footer-icon{
        color: #fff;
        font-size: 24px;
    }
}
@media screen and (min-width:1024px) {
    .view-all-posts{
        display: none;
     }
}